header{
   background-color: #1f2937;
   height: 350px;
}
header h1{
    font-size: 48px;
    font-weight: bolder;
    color: #f9faf8;
}
header nav h2{
    font-size: 18px;
    color: #e5e7eb;
    float: right;
    margin-top: -108px;
}
header p{
    font-size: 22px;
    color: #f9faf8;
    max-width: 700px;
}
button{
    background-color: #3882f6;
    border-radius: 21px;
    padding: 14px 28px 14px 28px;
    color: #f9faf8;
}
.image{
    float: right;
    margin-top: -300px;
    margin-right: 10px;
}
section, .box4{
    background: #f9faf8;
    border: solid lightskyblue ;
    padding: 20px;
    width: 80px;
    height: 70px;
    border-radius: 8px;
    margin: 15px;

}
.box1, .box2, .box3, .box4{
    float: left;
    margin-left: 20%;
    margin-right: -154px;
}
article, footer{
    clear: both;
}
.box2{
    margin-top: 15px;
}

.box4{
    border: none;
}
article{
    background-color: #e5e7eb;
}
.quote{
    color: #1f2937;
    font: 36px;
    font-style: italic;
}
.author{
    text-align: center;
    font-weight: bolder;
}
.content{
    margin-top: -25px;
}

article h3, article h4, .content{
    background-color: #3882f6;
}

footer{
    background: #1f2937;
}
